:root {

  /* cores primarias */
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  /* cores secundarias */
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsla(28, 10%, 53%, 0.295);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
  --Dark-brown-transparent: hsl(25, 47%, 15%, 0.6);

  /* fonte */
  --fonte-principal: 'DM Sans', sans-serif;

}



body {
  margin: 0;
  height: 100vh;
  width:100vw;
  Font-size: 18px;
  font-weight: 400;
  font-family: var(--fonte-principal);
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

